
.faq-header h1{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  color: white;
  font-size: 60px;
}
.faq-section h2{
    display: flex;
  flex-direction: column;
  align-items: left;
    margin: 10px 10%;
  color: white;
  font-size: 30px;
  text-align: left;
  text-decoration: underline;
}
.faq-content ol{
  align-items: left;
  margin: 10px 10%;
  color: white;
  font-size: 20px;
  text-align: left;
}
.faq-content li{
  margin: 10px 10%;
    align-items: left;
  color: white;
  font-size: 20px;
  text-align: left;
}

.faq-content p{
  margin: 5px 0 30px ;
}
.hallow-list {
    list-style-type: circle;
    margin: 10px 10%;
}