/* This centers the elements of a website */
body {
    margin: 0;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003A8F;
}

.login_card {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #D4AF37;
    width: 360px;
    background: #f5f2eb;
    border-radius: 24px;
    padding: 32px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}
.login_card input {
    font-family: 'Cinzel', serif;
    color: #080600;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    text-decoration: bold;
    color: #0b0900;
    font-family: 'Cinzel', serif;
}

input[type="submit"] {
    background-color: #003A8F;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}
input[type="submit"]:hover {
    background-color: #002366;
}

.google-btn {
    margin-top: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}
.pico_logo-div{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.facebook-btn {
    margin-top: 16px;
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pico_logo-div img{
    position:relative
}

.pico_logo{
    border-radius: 50;
}