.google-map {
display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  color: white;
}
.pico-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  color: white;
}

