/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}
/*BACKGROUND*/
body {
  background-color: #0a3d91;
}
/* NAVBAR */
.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  background: white;
  border-radius: 15px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  z-index: 10;
}

/* LOGO */
.logo {
  width: 60px;
}

/* NAV LINKS */
.nav-center a {
  text-decoration: none;
  margin: 0 15px;
  color: #c9a23f;
  font-size: 30px;
}

.nav-center a:hover {
  text-decoration: underline;
}

/* BOOK BUTTON */
.book-btn {
  background: #0a3d91;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.book-btn:hover {
  opacity: 0.9;
}